body {
    background-color: #F24405;
    font-family: 'Rambla', sans-serif;
    margin: 10px;
    height: 60px;
}

h1 {
    margin-left: 10px;
    padding: 10px;
}

h2 {
    margin-left: 10px;
    padding: 10px;
}

button {
    margin-left: 10px;
    padding: 10px;
}

#welcome {
    text-align: center;
    color: #093c99;
    text-shadow: #0455BF;
    margin: 20px;
}

#container {
    min-height: 100%;
    position: relative;
}

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 30px;
   background-color: #FFFFFF;
   text-align: center;
   color: #044BD9;
}

#body {
   padding-bottom:60px;   /* Height of the footer */
}

#shortstraw {
    text-align: center;
}

.img {
    padding: 20px;
}

/* Color Theme Swatches in Hex 
.ZA-SHARE-EXPO-2017:TRY-TRY-SEE-|-2017雜學校:有敢擇學-主視覺設計-1-hex { color: #044BD9; }
.ZA-SHARE-EXPO-2017:TRY-TRY-SEE-|-2017雜學校:有敢擇學-主視覺設計-2-hex { color: #0455BF; }
.ZA-SHARE-EXPO-2017:TRY-TRY-SEE-|-2017雜學校:有敢擇學-主視覺設計-3-hex { color: #033E8C; }
.ZA-SHARE-EXPO-2017:TRY-TRY-SEE-|-2017雜學校:有敢擇學-主視覺設計-4-hex { color: #F24405; }
.ZA-SHARE-EXPO-2017:TRY-TRY-SEE-|-2017雜學校:有敢擇學-主視覺設計-5-hex { color: #F21905; } */
