body {
    background-color: #BFD9D4;
    font-family: 'Rambla', sans-serif;
    margin: 10px;
    height: 100%;
}

h1 {
    margin-left: 10px;
    padding: 10px;
}

h2 {
    margin-left: 10px;
    padding: 10px;
}

button {
    margin: 50px;
    padding: 10px;
}

#welcome {
    text-align: center;
    color: #093c99;
    text-shadow: #0455BF;
    margin: 20px;
}

#container {
    min-height: 100%;
    position: relative;
}

#footer {
   position: absolute;
   bottom: 0;
   width: 100%;
   height: 30px;
   background-color: #FFFFFF;
   text-align: center;
   color: #093c99;
}

#body {
   padding-bottom:60px;   /* Height of the footer */
}

#shortstraw {
    text-align: center;
    font-size: xx-large;
}

#result {
    display: inline;
    font-size: 50px;
}

#choice {
    font-size: 25px;
    margin-left: 100px;
}

#coin {
    font-size: 25px;
    margin-right: 50px;
}

#strawimagep {
    text-align: center;
}

#strawimg {
    alignment-baseline: central;
    width: 30%;
}

#strawdraw {
    padding: 50px;
}

#logo {
    width: 75px;
}

/* Color Theme Swatches in Hex
.Cement-painted-wall-background,-baby-blue-pastel-color-texture-1-hex { color: #BFD9D4; }
.Cement-painted-wall-background,-baby-blue-pastel-color-texture-2-hex { color: #03261C; }
.Cement-painted-wall-background,-baby-blue-pastel-color-texture-3-hex { color: #9FBFB6; }
.Cement-painted-wall-background,-baby-blue-pastel-color-texture-4-hex { color: #41A681; }
.Cement-painted-wall-background,-baby-blue-pastel-color-texture-5-hex { color: #8EBFAD; }
*/
